body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e3f2fd; /* Azul claro */
}

header {
    background-color: #00796b; /* Verde oscuro */
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

header:hover {
    background-color: #004d40; /* Verde más oscuro */
}

section {
    background-color: #ffffff; /* Fondo blanco para el section */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

section h2 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #00796b; /* Verde oscuro */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #004d40; /* Verde más oscuro */
}

.result {
    margin-top: 20px;
}

.info {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
    background-color: #b2dfdb; /* Verde claro */
    padding: 10px;
    border-radius: 5px;
}
